/*
* Navigation Bar
*/

.navbar-default .navbar-brand,
.navbar-default {
  background-color: clear;
  font-size: 150%;
}

.navbar-default {
	min-height: 50px;
    	border: none;
    	border-radius: 0;
}

body{
    padding-top: 50px;
    font-size: 12pt;
}

/*
* Lights Off Test
*/

/**, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

/* {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/

/*Headline */
h2 {
    text-align: center;
    font: 70px Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
}



/*feature paragraphs*/
.features {
	background: white;
    width: 940px;
    margin: 0 auto 30px auto;
}

.features p {
  width: 33.33%;
  float: left;
  padding: 0 20px;
  font: 13px/1.5 Helvetica, Arial, sans-serif;
	background: white;
}
 

/*Big Photo*/
.headerimage {
  height: 400px;
  width: 900px;
  margin: 0 auto;
  /*background: url(http://www.fengshui-doctrine.com/wallpapers/element/metal/metal-element-fengshui-3.jpg); /*change this later*/
	background: url(images/metal.jpg)
}

.lead {
	margin: inherit;
}

/*Light Switch*/
/*label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  font: 14px/25px Helvetica, Arial, sans-serif;
  margin: 20px 0;
  position: static;
} */
 