/*
* Navigation Bar
*/

.navbar-default .navbar-brand,
.navbar-default {
  background-color: clear;
  font-size: 150%;
}

.navbar-default {
	min-height: 50px;
    	border: none;
    	border-radius: 0;
}

/*Testing*/
.social-links-item {
    display: inline-block;
    height: 22px;
    margin-left: 13px;
    opacity: 0.2;
    text-indent: -99999px;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    vertical-align: middle;
    width: 22px;
    -webkit-backface-visibility: hidden; /* To prevent flicker. Could be a safari bug */
}

.social-links-item:hover {
    opacity: 1;
}

.social-links {
    float: right;
}

    .social-links {
        float: none;
        padding: 0 18px 0 0;
    }
    
    .social-links > a {
        margin: 0 0 0 18px;
        opacity: 0.7;        
    }

    .social-links {
        border-top: 1px solid #d7d7d7;
        line-height: 42px;
    }
    
    .social-links > a {
        margin-top: -3px;
    }

    .social-links {
        clear: both;
        display: block;
        float: none;
    } 

/*Spacing*/
.megaSpacer{
	height: 75px;
}

.largeSpacer{
	height: 50px;
}

.mediumSpacer{
	height: 25px;
}

.smallSpacer{
	height: 10px;
}

/*Body*/

body{
    padding-top: 50px;
    font-size: 12pt;
}



/* {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}*/

/*Headline */
h2 {
    text-align: center;
    font: 70px Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
}


/*Big Photo*/
.headerimage {
  height: 400px;
  width: 900px;
  margin: 0 auto;
  /*background: url(http://www.fengshui-doctrine.com/wallpapers/element/metal/metal-element-fengshui-3.jpg); /*change this later*/
	background: url(../images/metal.jpg);
}
