/*
* Navigation Bar
*/

.navbar-default .navbar-brand,
.navbar-default {
  background-color: clear;
  font-size: 150%;
}

.navbar-default {
    min-height: 50px;
    border: none;
    border-radius: 0; 
}

body{
    padding-top: 50px;
    font-size: 10pt;
	background-color: "#313030";
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
